{% extends "base.html" %}
{% block subtitulo %} Usuários {% endblock %}

{% block conteudo %}
    {% include 'components/notification.html' %}

    {% for user in users %}
        <ul class="list-group list-group-flush mb-5 ">
            <li class="list-group-item {{ 'bg-success' if user.active else 'bg-danger'}}">Nome =>  {{ user.name }}</li>
            <li class="list-group-item">Idade => {{ user.idade }}</li>
            <li class="list-group-item">E-mail => {{ user.email }}</li>
        </ul>
    {% endfor %}
    
{% endblock %} 